<div id="page-content-wrapper">
  <div id="Checkout" class="inline">
    <h1>JOYA - Status <%= @status_response %></h1>
    <div class="mercadopago"> Ya podes operar desde Increase </div>
    <p> Para empezar a realizr cobros hace <%= link_to 'click aca', payment_pos_backup_path %>
      para arrancar a operar o cuando quieras bla bla bla </p>
  </div>
</div>
