  <!-- Sidebar -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div id="Checkout" class="inline">
      <h1>Permit</h1>
      <div class="mercadopago"> MercadoPago </div>
      <p> Necesita autorizar a Increase para poder realizar cobros con tarjeta </p>

      <a href="https://auth.mercadopago.com.ar/authorization?client_id=1668116469106489&response_type=code&platform_id=mp&redirect_uri=https%3A%2F%2Fstark-dawn-82282.herokuapp.com/registration/authorize">
        <span class="btn-accept align-middle btn btn-block btn-success submit-button"> Autorizar </span>
      </a>
      <a href="/payment/received_auth">
        <span class="btn-accept align-middle btn btn-block btn-success submit-button"> Autorizar - test local </span>
      </a>
      <br>
      <a href="">
        <span class="btn-no-usr align-middle btn btn-block btn-info submit-button"> No tengo usuario </span>
      </a>

    </div>
  </div>
