<div id="page-content-wrapper">
  <div id="Checkout" class="inline">
    <h1>JOYA - Status <%= @status_response %></h1>
    <div class="mercadopago"> Ya podes operar desde Increase </div>
    <p> para empezar a realizr cobros hace <a href="payment/pos_backup"> click aca </a>
      para arrancar a operar o cuando quieras bla bla bla </p>
  </div>
</div>
