<div id="wrapper" class="toggled">
  <!-- Sidebar -->

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Increase
        </a>
      </li>
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/payment/permit">Permit</a>
      </li>
      <li>
        <a href="/payment/pos_backup">Pos Back Up</a>
      </li>

    </ul>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div id="Checkout" class="inline">
      <h1>Permit</h1>
      <div class="mercadopago"> MercadoPago </div>
      <p> Necesita autorizar a Increase para poder realizar cobros con tarjeta </p>

      <!--<form action="" method="post" id="pay" name="pay">-->
      <a href="https://auth.mercadopago.com.ar/authorization?client_id=1668116469106489&response_type=code&platform_id=mp&redirect_uri=https%3A%2F%2Fwww.increasecard.com"><span class="align-middle btn btn-block btn-success submit-button"> Autorizar </span></a>
      <!--</form>-->

    </div>
  </div>
</div>