
  <!-- Sidebar -->


<!-- Page Content -->
<div id="page-content-wrapper">
  <div id="Checkout" class="inline">
    <%= @payment %>


  <!--<button id="PayButton" class="btn btn-block btn-success submit-button">-->
    <span class="align-middle"><%= link_to 'Back', root_path, :class => "btn btn-block btn-success submit-button"%></span>
  <!--</button>-->
  </div>

</div>
